
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
* {
  margin: 0;
  font-family: "Alan Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
